<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Drama_Player.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Drama_Player.My.MySettings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="box1" serializeAs="String">
                <value />
            </setting>
            <setting name="box2" serializeAs="String">
                <value />
            </setting>
            <setting name="box3" serializeAs="String">
                <value />
            </setting>
            <setting name="play1" serializeAs="String">
                <value />
            </setting>
            <setting name="play2" serializeAs="String">
                <value />
            </setting>
            <setting name="play3" serializeAs="String">
                <value />
            </setting>
            <setting name="box4" serializeAs="String">
                <value />
            </setting>
            <setting name="box5" serializeAs="String">
                <value />
            </setting>
            <setting name="box6" serializeAs="String">
                <value />
            </setting>
            <setting name="box7" serializeAs="String">
                <value />
            </setting>
            <setting name="box8" serializeAs="String">
                <value />
            </setting>
            <setting name="box9" serializeAs="String">
                <value />
            </setting>
            <setting name="box10" serializeAs="String">
                <value />
            </setting>
            <setting name="box11" serializeAs="String">
                <value />
            </setting>
            <setting name="box12" serializeAs="String">
                <value />
            </setting>
            <setting name="play5" serializeAs="String">
                <value />
            </setting>
            <setting name="play6" serializeAs="String">
                <value />
            </setting>
            <setting name="play4" serializeAs="String">
                <value />
            </setting>
            <setting name="play7" serializeAs="String">
                <value />
            </setting>
            <setting name="play8" serializeAs="String">
                <value />
            </setting>
            <setting name="play9" serializeAs="String">
                <value />
            </setting>
            <setting name="play10" serializeAs="String">
                <value />
            </setting>
            <setting name="play11" serializeAs="String">
                <value />
            </setting>
            <setting name="play12" serializeAs="String">
                <value />
            </setting>
        </Drama_Player.My.MySettings>
    </userSettings>
</configuration>
